*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container{
   display:flex;
}

.form{
    margin: 10px auto;
}
.url-area{
    text-indent: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}

.submit{
    background-color: aqua;
    padding: 10px;
    border: none;
    border-radius: 5px;
    
}